<% layout("/layouts/boilerplate.ejs") %>

<!-- for CRUD opeation i used this  -->
<!-- <body>
    <h3>Create a new listing</h3>
    <form action="/listings" method="POST">
        <input type="text" placeholder="enter title" name="listing[title]">
        <br><br>
        <textarea type="text" placeholder="enter description" name="listing[description]"> </textarea>
        <br><br>
        <input type="text" placeholder="enter image URL" name="listing[image]">
        <br><br>
        <input type="number" placeholder="enter price" name="listing[price]">
        <br><br>
        <input type="text" placeholder="enter country name" name="listing[country]">
        <br><br>
        <input type="text" placeholder="enter location" name="listing[location]">
        <br><br>
        <button>Add </button>
    </form>
</body> -->

<!-- I am using bootstrap for style also, used seveal class only  -->

<div class="row">
  <div class="col-8 offset-2">
    <br><br>
    <h3>Create a New Listing</h3>

    <form action="/listings" novalidate class="needs-validation" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          placeholder="Add a title"
          name="listing[title]"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>     <!-- In placeholder : "Add a catchy title" -->

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          placeholder="enter description"
          name="listing[description]"
          class="form-control"
          required
        >
        </textarea>
        <div class="invalid-feedback">Please enter valid Description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          type="text"
          placeholder="enter image URL"
          name="listing[image]"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            
            placeholder="1200"
            name="listing[price]"
            class="form-control"
            required
          />  <!-- here inside input i have written type="number" now i am removing because using Cutom error handling-->
          <div class="invalid-feedback">Please enter valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            placeholder="India"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid country</div>

        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          placeholder="Vadodara, Gujarat"
          name="listing[location]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter valid location</div>
      </div>

      <br><br>
      <button class="btn btn-dark add-btn">Add</button>
      <br><br>
    </form>
  </div>
</div>
